# https://github.com/marketplace/actions/github-readme-stats-action?version=v1.1.0

name: Update README cards

on:
  schedule:
    - cron: "0 0 * * *" # Runs once daily at midnight
  workflow_dispatch:

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: Generate stats card
        uses:  soulteary/github-readme-stats-action@v1.0.0
        with:
          card: stats
          options: username=${{ github.repository_owner }}&theme=gruvbox&show_icons=true&cache_seconds=7200&hide=prs,issues
          path: profile/stats.svg
          token: ${{ secrets.GITHUB_TOKEN }}
  
      - name: Commit cards
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add profile/*.svg
          git commit -m "Update README cards" || exit 0
          git push